<section>
    <article>
        <h3>Interpolação</h3>
        <div class="explain">
            <p>
                A interpolação é feita por meio de duas chaves que envolvem uma variável definida no ts e apresenta o
                valor dessa variável na interface. Ela pode ser usada entre a abertura e o fechamento de tags ou em
                atributos de tags.
            </p>
            <p>
                Ela realiza o one way data-binding, portanto só faz o caminho do ts para o html.
            </p>
        </div>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de expressão matemática (1+1) renderizada com interpolação: {{ 1 + 1 }}</p>
        <p>Retorno de uma função renderizada com interpolação: {{ func() }}</p>
        <p>Retorno de uma expressão boolean renderizada com interpolação: {{ true && false }}</p>
        <p>Imagem renderizada com interpolação:</p>
        <img src="{{ urlImagem }}">
    </article>
    <article>
        <h3>Property binding</h3>
        <div class="explain">
            <p>
                A property binding é feita somente em atributos de tags, o atributo deve estar entre colchetes para
                receber uma variável definida no ts, então o valor da variável será passado para o atributo.
            </p>
            <p>
                Ela realiza o one way data-binding, portanto só faz o caminho do ts para o html.
            </p>
        </div>
        <p>Imagem renderizada com property binding:</p>
        <img [src]="urlImagem">
        <img bind-src="urlImagem">
    </article>
    <article>
        <h3>Class e Style Binding</h3>
        <div class="explain">
            São uma forma de property binding, mas ao invés de variáveis do ts trabalhamos com css.
        </div>
        <div>
            Selecione uma classe
            <!-- criando uma variável local de template com # -->
            <select #classeSelecionada (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>
            <div class="alert {{ classeSelecionada.value }}">
                Texto colorido conforme o valor do combobox.
            </div>
            <div class="alert" [class.alert-success]="classeSelecionada.value === 'alert-success'" role="alert">
                Sucesso
            </div>
            <div class="alert" [class.alert-info]="classeSelecionada.value === 'alert-info'" role="alert">
                Info
            </div>
            <div class="alert" [class.alert-warning]="classeSelecionada.value === 'alert-warning'" role="alert">
                Alerta
            </div>
            <div class="alert" [class.alert-danger]="classeSelecionada.value === 'alert-danger'" role="alert">
                Erro
            </div>
            <div class="alert alert-danger" role="alert"
                [style.display]="classeSelecionada.value === 'alert-danger' ? 'block' : 'none'">
                Esse texto só aparece se erro for selecionado.
            </div>
        </div>
    </article>
</section>